/*----------------------------------------------*\
	#FONTS
\*----------------------------------------------*/
@font-face {
  font-family: "side-cart";
  src: url("../fonts/side-cart.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*----------------------------------------------*\
	Body Styles
\*----------------------------------------------*/
body {
  transition: all 300ms ease;
  overflow-x: hidden;
  max-width: 100vw; }

body.js-side-cart-opened {
  margin-left: -24rem;
  height: 100%; }
  body.js-side-cart-opened .side-cart {
    transform: translateX(0); }

/*----------------------------------------------*\
	Side Cart Styles
\*----------------------------------------------*/
.side-cart {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 300ms ease;
  z-index: 999999; }
  .side-cart__icon {
    float: left;
    margin-top: 0.31rem;
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    width: 2.375rem;
    height: 2.5rem; }
    .side-cart__icon--outer {
      display: block;
      position: fixed;
      right: 0;
      top: 50%;
      margin-top: -1.125rem;
      background: white;
      border-radius: 3px 0 0 3px; }
    .side-cart__icon::before {
      font-family: 'side-cart';
      position: absolute;
      right: 0.375rem;
      top: 50%;
      color: gainsboro;
      content: 'a';
      margin-top: -1.25rem;
      font-size: 1.75rem; }
  .side-cart__number {
    border-radius: 50%;
    background-color: #a46497;
    color: white;
    font-size: 0.68rem;
    font-weight: 700;
    line-height: 1.35;
    text-align: center;
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    top: 0.25rem;
    right: 50%;
    margin-right: -0.56rem; }
    .side-cart__number--jump {
      animation-name: bounce;
      transform-origin: center bottom;
      animation-duration: 1s;
      animation-fill-mode: both; }
  .side-cart__iconic {
    text-align: center;
    padding: 1rem;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro; }
  .side-cart__top_title {
    display: inline-block;
    margin: 0.5rem 0; }
  .side-cart__close {
    display: inline-block;
    float: right;
    font-size: 2rem;
    margin-top: -.25rem;
    color: gainsboro; }
  .side-cart__item {
    display: block;
    float: left;
    width: 100%;
    padding: 1rem; }
    .side-cart__item:nth-of-type(even) {
      background: gainsboro; }
  .side-cart__item_name {
    margin: 0 0 1rem 0;
    font-weight: 400;
    font-size: 1rem; }
  .side-cart__container {
    border-left: 2px solid gainsboro;
    border-right: 2px solid gainsboro; }
  .side-cart__items {
    overflow: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    height: calc(100vh - 320px); }
    .side-cart__items::-webkit-scrollbar {
      width: 0 !important; }
  .side-cart__remove_item {
    padding: 0;
    font-size: 0.875rem;
    font-weight: 500; }
    .side-cart__remove_item::before {
      content: "A";
      font-family: 'side-cart';
      top: 1px;
      padding-right: 2px;
      position: relative; }
    .side-cart__remove_item:hover {
      background: none; }
  .side-cart__form {
    height: 100%;
    width: 100%; }
  .side-cart__controls {
    list-style: none;
    display: table;
    float: left;
    margin: 0; }
  .side-cart__control_item {
    margin: 0 1rem 0 0;
    font-weight: bold;
    transition: all 300ms ease;
    float: left;
    vertical-align: middle;
    display: table-cell;
    line-height: 2rem; }
  .side-cart__qty {
    max-width: 2.5rem;
    height: 2rem;
    box-shadow: none;
    background: white;
    border: 1px solid gainsboro;
    padding: 0.25rem;
    max-width: 4rem; }
  .side-cart .cart-empty, .side-cart .return-to-shop {
    text-align: center; }
  .side-cart__footer {
    position: relative;}
  .side-cart__footer tr td {
		padding: 0.5rem 1rem;
	}
  .side-cart__totals {
    background: white; }
    .side-cart__totals .button {
      margin: 0; }
  .side-cart__container {
    height: 100vh; }
  .side-cart .cart_totals {
    padding: 0 1rem; }

@media only screen and (max-width: 40em) {
  .side-cart__iconic {
    padding: .5rem 1rem; }
  .side-cart__items {
    height: calc(100% - 16.75rem) !important;
    width: 100%; } }
@media only screen and (min-width: 40.063em) {
  .side-cart {
    width: 24rem; } }